.sunOpen{
    animation: sunOpen 0.4s ease-out forwards
}

.moonOpen{
    animation: moonOpen 0.4s ease-out forwards
}
@keyframes sunOpen{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    50%{
        opacity: 1;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes moonOpen{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    50%{
        opacity: 1;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
.theme_button{
    padding: 1rem 0;
}
.button{
    color: var(--navbar-text);
    background: var(--button-background);
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
